/*
    this file is for styles that are related to things that are shown on most pages
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 14px;
}

/* wrap the whole body to make a grid*/
.wrapper {
    display: grid;
    /* 3 columns; sidebar, main content and margin on right side*/
    grid-template-columns: 2fr 11fr 1fr;
    grid-template-rows: 1fr 11fr;
    height: 100vh;
}

/* main content; not the sidebar*/
.content {
    margin: 20px;
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: auto;
}

/* standard content box; this is the white
 on the grey background */
.content-box {
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    /* standard box so occupies all rows and columns */
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;

}

/*TODO: rename box1 box2 box3 box4 */

/* use this as the id for a .content-box when you want it to occupy the left part of the screen */
#box1 {
    grid-column: 1;
    grid-row: 1 / -1;
}

/* use this as the id for a .content-box when you want it to occupy the right part of the screen */
#box2 {
    grid-column: 2;
    grid-row: 1/-1;
}

/* use this as the id for a .content-box when you want it to occupy the top right part of the screen */
#box3 {
    grid-column: 2;
    grid-row: 1;
}

/* use this as the id for a .content-box when you want it to occupy the bottom right part of the screen */
#box4 {
    grid-column: 2;
    grid-row: 2/5;
}

/* for styling icons */
a i {
    margin-right: 10px;
    text-align: center;
    font-size: 1.1em;
}

.upper-right {
    /* take full space in div */
    height: 100%;
    width: 100%;
    /* center buttons horizontally and vertically*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* stack buttons as column */
    flex-direction: column;
}

/* head of a page */
.content-header {
    /* allow for buttons to be on the right side of the div */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/* --- container used for details about some model --- */

.detail-container {
    /* change the width of details */
    /*width: 90%;*/
}

.detail-container label {
    /* to make label be on its own line */
    display: block;
}

.detail-container .info {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.detail-container .info label, .label-div {
    font-size: 12px;
    color: slategray;
    margin-bottom: 2px;
}

/* stores a list of details */
.label-div {
    margin-bottom: 20px
}

/* --- typing areas --- */

input {
    padding: 5px 10px;
    width: 50%;
}

textarea {
    padding: 10px;
    font-size: 16px;
    /* don't show resize option */
    resize: none;

}

textarea, input {
    border-radius: 15px;
    background-color: #f9f9f9;
    border: 2px solid #ecebeb;

}

textarea:hover, input:hover {
    border-color: #d9d8d8;
}

textarea:focus, input:focus {
    border-color: #c2c2c2;
    /* remove the standard black outline */
    outline: none;
}

/* searching and filtering */

/* contains search and filter bar, allows them to be on the same line */
.search-filter-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}


/* fields for searching and filtering */
.search-filter-container form {
    height: auto;
    box-sizing: border-box;
    display: flex;
}

/* search bar */
.search-bar {
    display: inline;
    flex-grow: 1
}


/* filter bar */
.filter-bar {
    display: inline;
    flex-grow: 1
}

/* drop down menu */
select {
    border-radius: 5px;
    border: none;
    background-color: #ecebeb;
    margin-right: 5px;
}

.tag {
    color: white;
    padding: 0px 10px;
    border-radius: 40px;
    white-space: nowrap;
    margin-bottom: 5px;
    /* Allows margin on all sides */
    display: inline-block;

}

.text1 {
    color: darkgrey;
}


.log-out-button {
    width: 100%;
    box-sizing: border-box;
    border-radius: 45px;
    margin-bottom: 10px;
}

#course-selector {
    text-decoration: none;
    color: black;
}

/*#course-selector:hover {*/
/*    background-color: rgba(202,255,197,0.45);*/
/*}*/

#title {
    background-color: #f0f0f0;
    grid-column: 1;
    grid-row: 1;
    border-bottom: 1px solid #ccc;
    text-align: center;
}



.big-button {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.big-button:hover {
    background-color: #0056b3;
}



/*.comment-section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-height: 100%;*/
/*}*/
/*.comment-section, .comment {*/
/*    word-wrap: break-word;  !* Legacy approach *!*/
/*    overflow-wrap: break-word;  !* Standard approach, breaks words at arbitrary points if needed *!*/
/*}*/
/* Container for box1 */

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.column {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#column-2 {
    overflow: auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}


button {
    padding: 10px 20px;
}
/* Labels inside assignmentForm */
#assignmentForm label { 
    display: block; 
    font-weight: bold; 
    margin-bottom: 0px; 
}

/* Layout for each assignment unit */
.assignmentUnit { 
    display: grid;
    grid-template-columns: repeat(3, 3fr) repeat(2, 2fr) 1fr;
    grid-gap: 10px;
    margin-bottom: 10px; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    align-items: center;
    grid-auto-flow: column;
}

/* Div elements inside assignmentUnit */
.assignmentUnit div { 
    margin-bottom: 0; 
}

/* Style for delete button */
.deleteAssignmentUnitButton { 
    background-color: #fa385d; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    margin-top: 15px;
}

/* Common style for safe and danger buttons */
.safe-button, .danger-button { 
    margin-top: 20px; 
}

/* Style the file system view */
.styled-file-system {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
}

/* Style the iframe */
.styled-iframe {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
    background-color: #fff;
}

/* Style the preview div */
.styled-preview {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

/* Style the button */
.styled-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #0056b3;
}

/* Additional styling for links */
.styled-file-system a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.styled-file-system a:hover {
    color: #0056b3;
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.modal-content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    position: relative;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.modal-content button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



/* Dashboard Layout */
.dashboard {
    /* position in the outer grid */
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    /* fill up parent container completely */
    height: 100%;
    width: 100%;
    /* make grid inside */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}


.draggable {
    cursor: move;
}


.grid-item {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    overflow-y: hidden;
}

.draggable.dragging {
    /*position: absolute;*/
    /*z-index: 1000; !* Make sure it's above other elements *!*/
}

.grid-item h2 {
    margin-top: 0;
    text-align: center;
}

.empty {
    background-color: #e0e0e0;
    text-align: center;
}

.grid-item h3 {
    margin-bottom: 5px;
    text-align: center;
}

/* Tab Styles */
.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-right: 2px solid white;
    flex: 1;
}

.tab button:last-child {
    border-right: none;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
    flex: 1;
    overflow-y: hidden;
    height: auto;
    width: auto;
}

.tab-content.active {
    display: block;
}

/* Dropdown Menu */
.dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Canvas Container */
.canvas-container {
    position: relative;
    width: 100%;
    height: 250px; /* Fixed height */
    overflow: hidden;
}

.canvas-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

/* Container for centering */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 15px;
    /* standard box so occupies all rows and columns */
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    flex-direction: column;
}

.login-box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.content-login {
    margin: 20px;
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    height: auto;
}

.login-wrapper {
    display: grid;
    /* 3 columns; sidebar, main content and margin on right side*/
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows: 1fr 11fr;
    height: 100vh;
}

.collect-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}



.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.form-container {
    margin-bottom: 20px;
}
.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


.mude-button.collect {
    background-color: #ff9800;
}

/* Styles for submission-box1 */
#submission-box1 {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

#submission-id, #overall-grade-heading {
    color: #343a40;
    margin-bottom: 20px;
}

#submissionForm input, #submissionForm select, #submissionForm textarea, #submissionForm button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

#submissionForm button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submissionForm button:hover {
    background-color: #0056b3;
}

/* Styles for submission-box2 */
#submission-box2 {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

#units-heading {
    color: #343a40;
    margin-bottom: 20px;
}

#units-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#units-table th, #units-table td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

#units-table th {
    background-color: #f1f1f1;
}

#units-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Links */
#assess-button-{{ unit.id }}.safe-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#assess-button-{{ unit.id }}.safe-button:hover {
    background-color: #218838;
}

#back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#back-button:hover {
    background-color: #218838;
}

/* Header buttons */
.header-buttons {
    margin-top: 20px;
    text-align: right;
}

/*.comment-form form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-top: 25px;*/
/*}*/

/*.comment-form textarea {*/
/*    margin-bottom: 10px;*/
/*    padding: 10px; !* Padding inside the text area *!*/
/*    border: 2px solid #ecebeb; !* Border color and width *!*/
/*    border-radius: 8px; !* Rounded corners *!*/
/*    font-size: 16px;*/
/*    background-color: #f9f9f9; !* Background color *!*/
/*    resize: none; !* Disables resizing *!*/
/*}*/
/*.comment {*/
/*    padding: 5px 10px;*/
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
/*    margin-bottom: 5px;*/
/*    border-radius: 20px;*/
/*    background-color: #f2f2f2;*/
/*}*/

/*#comment-info {*/
/*    color: slategrey;*/
/*}*/


/*.comment-form textarea:focus {*/
/*    outline: none;*/
/*    border-color: darkgrey;*/
/*}*/

/*.comment-form textarea::placeholder {*/
/*    color: #cfcfcf;*/
/*    font-size: 14px;*/
/*}*/

/*!* Styling the scrollbar track *!*/
/*.comments-container::-webkit-scrollbar-track {*/
/*    background-color: #f9f9f9; !* Light grey background *!*/
/*    border-radius: 10px; !* Rounded corners for the track *!*/
/*}*/

/*!* Styling the scrollbar thumb *!*/
/*.comments-container::-webkit-scrollbar-thumb {*/
/*    background-color: #c2c2c2; !* Darker grey thumb *!*/
/*    border-radius: 10px; !* Rounded corners for the thumb *!*/
/*    border: 3px solid #f0f0f0; !* Optional: adds a border around the thumb *!*/
/*}*/

/*!* Styling the scrollbar itself (width, etc.) *!*/
/*.comments-container::-webkit-scrollbar {*/
/*    width: 12px; !* Width of the scrollbar *!*/
/*    height: 12px; !* Height of the scrollbar (for horizontal scrolling) *!*/
/*}*/

/* styles for changes in timelines */
.old_changes {
    padding: 5px;
    background-color: rgb(250, 56, 93, 0.5);
}

.new_changes {
    padding: 5px;
    background-color: rgb(76, 175, 80, 0.5);
}

.details-link {
    color: #181818;
    text-decoration: none;
    padding: 1px 2px;
    background-color: #a2e3fc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}

.details-link:hover {
    border-color: #989898;
    color: black;
    /*color: #3a3939;*/
    background-color: #86dfff;
}