<table>
    <h2>Commit History</h2>
    <thead>
    <tr>
        <th>Group name</th>
        <th>Commit id</th>
        <th>Commit title</th>
        <th>Commit Date</th>
    </tr>
    </thead>
    <tbody>
    {% for commit in list_of_commits %}
        <tr>
            <td>{{ commit.project_name }}</td>
            <td>
                {# make target blank so it opens in new tab #}
                <a href="{{ commit.web_url }}" target="_blank"> {{ commit.short_id}}</a>
            </td>
            <td>{{ commit.title }}</td>
            <td>{{ commit.committed_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>