{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/modal.css' %}">

{#     NOTE: Order is important here, we implicitly pass url to modal.js    #}
{#    TODO: Think if there is a better way to do this #}
<script>
    let importUrl = "{{ import_url }}";
</script>
<script src="{% static 'js/modal.js' %}"></script>

<div id="importModal" class="modal" >
    {#  we need this for POSTing the files  #}
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">

    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Import Students</h2>
        <div id="drop_zone">
            <p>Drag one or more files to this Drop Zone ...</p>
            <div id="fileList"></div>
        </div>
        <input type="file" id="fileInput" style="display: none;" multiple>
        <button onclick="document.getElementById('fileInput').click();">Select Files</button>
        <button id="uploadButton">Upload Files</button>
    </div>
</div>